.waterWave {
  position: relative;
  display: inline-block;
  transform-origin: left top;
}

.waterWaveCanvasWrapper {
  transform: scale(0.5);
  transform-origin: left top;
}

.text {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  transform: translateY(-50%);

  span { font-size: 14px; }
  h4 { margin: 8px 0 0; font-size: 24px; font-weight: normal; }
}
